<div class="about-bg">
	<div class="container">
		<div class="row">
			<div class="mx-auto text-center about">
				<h1 class="my-5" style="font-size: 2.5em">ガジェットのレビュー投稿サイトです。</h1>
				<h4 style="line-height: 40px;">ガジェッターは、ガジェットが好き・ガジェットを購入したいけど迷ってる！！</h4>
				<h4 style="line-height: 40px;">そんな方へおすすめのサイトです。</h4>
				<h4 style="line-height: 40px;">ガジェット商品のレビューや気になるガジェットの評価を投稿・閲覧し</h4>
				<h4 style="line-height: 40px;">商品の購入目安としてもお使い頂けます。</h4>
				<h4 style="line-height: 40px;">気になる商品についての質問もできるので、たくさんの質問お待ちしてます。</h4>
			</div>
			<div class="mx-auto text-center">
				<%= link_to "会員登録＆新着投稿一覧へ", new_user_registration_path, data: {"turbolinks" => false}, class: "btn btn-lg", style: "background-color: #a9a9a9; color: white;" %>
			</div>
		</div>
	</div>
</div>