<div style="background: #FFF;">

<div id="top">
  <div id="top-images">
    <div class="top1"></div>
    <div class="top2"></div>
    <div class="top3"></div>
    <div class="top4"></div>
    <div class="top5"></div>
  </div>
</div>

<div class="container">

  <div class="row">
    <div class="col-md">
      <h2 class="top-line">ガジェッターへようこそ</h2>
      <div><%= link_to "サイト概要へ", user_homes_about_path, class:"top-btn"%></div>
    </div>
  </div>


    <%= render 'user/homes/card', posts: @posts, user: @user %>
    <div class="text-center mt-3"><%= link_to "新着一覧へ", user_posts_path, class:"top-btn"%></div>





  </div>

</div>