<footer>
  <div class='container mt-5'>
    <div class='row'>
      <div class='mx-auto'>
        <p>CopyRight Infratop.inc</p>
      </div>
      <% if user_signed_in? %>
      <%= link_to new_contact_path, class:"h-seni" do %>
      <span>お問い合わせはこちらから</span>
      <% end %>
      <% end %>
    </div>
  </div>
</footer>